# Ignore pycache
**__pycache__/
**.pytest_cache

# Ignore virtual env
**.pureenv
**.venv

# Ignore .vscode
**.vscode

# Ignore egg info
**.egg-info

# Ignore special
**api_tokens
**secret*
**_pure_env*
**wipe_vars

# Ignore logs directory
**/logs/

# Ignore dynamically created inventories
**/inventory
