# Ignore python stuff
**__pycache__/

# Ignore virtual env
**.pureenv

# Ignore api tokens
**.api_tokens

# Ignore site vars containing API tokens
**va_pure_env
**co_pure_env
**az_pure_env
