[srcfb]
type = s3
provider = Other
access_key_id = {{ access_key }}
secret_access_key = {{ secret_key }}
endpoint = https://{{ data_ip }}
region = dummy
location_constraint = dummy

[destfb]
type = s3
provider = Other
access_key_id = {{ access_key2 }}
secret_access_key = {{ secret_key2 }}
endpoint = https://{{ data_ip2 }}
region = dummy
location_constraint = dummy