[Unit]
Description=Scheduled timer to run fb-rsync.service at 8pm daily

[Timer]
OnCalendar=20:00
Unit=fb-rsync.service

[Install]
WantedBy=timers.target