[srcfb]
type = s3
provider = Other
access_key_id = {{ access_key_src }}
secret_access_key = {{ secret_key_src }}
endpoint = https://{{ data_ip_src }}
region = dummy
location_constraint = dummy

[destfb]
type = s3
provider = Other
access_key_id = {{ access_key_dest }}
secret_access_key = {{ secret_key_dest }}
endpoint = https://{{ data_ip_dest }}
region = dummy
location_constraint = dummy